* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    flex: 1;
    text-align: left;
}

.logo a {
    text-decoration: none;
}

.logo-image {
    width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #000;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.main {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.main a {
    color: #f2f2f2;
    text-decoration: none;
}

.main a:hover {
    color: #000;
}

.main:hover {
    background-color: #a1f4ff;
}

.article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
}

.article-content {
    text-align: justify;
}

.featured-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.profile {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
}

.profile-content {
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
}

.profile-table {
    margin: 20px 0;
}

footer {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #333;
    background-color: #d1e8e4;
    padding: 40px;
    border-top: 1px solid #ccc;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: rgba(0, 182, 207, 0.5);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    display: none;
}

.scroll-to-top:hover {
    background-color: rgba(51, 51, 51, 0.5);
}
